<div class="container h-100 d-flex justify-content-center mt-5">
  <div class="my-auto">
    <h2>Thank you!</h2>
    <p class="text-left">
    Thank you so much for participating in this research.
    <br>
    If you have any questions or comments about this experiment, please contact Carla Nave at <%= mail_to "cd.saraiva@campus.fct.unl.pt" %> . 
    </p>
  </div>
</div>