<h1>Hola!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis dapibus sapien. Aenean dictum mauris non arcu ultricies, sit amet rutrum purus malesuada. Nullam ut lectus nisl. Phasellus quis dapibus nulla. Nam nec felis vitae augue scelerisque ultricies sit amet non lectus. Etiam pulvinar nulla et ante posuere, sit amet posuere tortor egestas. Quisque sagittis fringilla scelerisque. Aenean mollis, ex eget sodales rhoncus, velit metus eleifend nulla, non ornare urna lectus non massa. Sed blandit tortor urna, sed dignissim ante porta a. In hac habitasse platea dictumst. Nulla luctus elit quis commodo vehicula.</p>


<%= link_to "Start", controller: "exercises", action: "video3" %>
