<div class="container h-100 d-flex justify-content-center mt-5">
  <div class="my-auto">
    <h2>Instructions</h2>
    <br>
    <p class="text-left">
      First, you will be asked to provide some general demographic data.
      <br>
      After that, you will see one short video clip (with a duration of 1,21 minutes). 
      <br>
      After the video click "Next". 
      In the new page you will be asked to assess your emotional state related to the video you just watched. Please watch the entire video before proceeding to the assessment.
      <br>
      <br>
      Note: you need to watch the entire video before assessing your emotions – doing otherwise will invalidate your test results.
      <br>
    </p>
<br>
    <%= link_to "Next", controller: "devise/registrations", action: "new" %>
  </div>
</div>