/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


.style_image_arousal {
  width: auto;
  height: 20px;
}
.style_image_valence {
  width: auto;
  height: 35px;
}
.style_image_fctul {
  width: auto;
  height: 50px;
}
.style_image_fctul1 {
  width: auto;
  height: 30px;
}
.style_image_ut {
  width: auto;
  height: 100px;
}

.style_image_sliders {
  width: auto;
  height: 80px;
  border-style: solid;
  border-width: 5px;
}

.style_textarea {
  width: 300px;
  height: 150px;
}
