<h1>Video3</h1>
<iframe src="https://player.vimeo.com/video/306808985" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<%= link_to "Next", controller: "exercises", action: "exercise3", exercise_type: @exercise.exercise_type %>
