<h1>Video1</h1>
<iframe src="https://player.vimeo.com/video/306809459" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<%= link_to "Next", controller: "exercises", action: "exercise1" %>
