<h1>Video2</h1>
<iframe src="https://player.vimeo.com/video/306809433" width="640" 
height="367" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<%= link_to "Next", controller: "exercises", action: "exercise2", exercise_type: @exercise.exercise_type %>
